body {
    background: #ffefd5;
}

aside {
    float: left;
    background: #c8c8b4;
    width: 22%;
    padding: 2.5;
    height: auto;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 215px;
}

aside .logo {
    font-size: 40px;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    top: 7px;
}

aside h3 {
    margin-top: 45px;
    margin-left: 40px;
    font-size: 28px;
}

aside ul {list-style: none; margin-left: 40px}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features h1 {font-size: 50px; margin-bottom: 10;margin-top: 0;}
main .features p {max-width: 400px; margin: 20px auto;}