{% extends 'main/layout.html'%}

{% block title %}Новые картины{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Новые картины</h1>
    <div class="features">
        {% for picture in categories %}
            <div class="back">
                <a href="media/{{ picture.image }}"><img src="media/{{ picture.image }}" width="340"></a>
                <div class="description">
                    <h3>{{ picture.description }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}