{% extends 'main/layout.html'%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Дочерним называется элемент, который непосредственно располагается внутри родительского элемента. Чтобы лучше понять отношения между элементами документа, разберём небольшой код</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values %}
            {% if el == 'Hello' %}
                <p>{{ el|lower }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}